div.row-flex {
  display: flex;
  flex-direction: row;
}

div.row-flex div {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

iframe {
  width: 1280px;
  height: 720px;
}

mat-form-field, input {
  width: 100%;
}
